* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFF000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 100px;
    
}
.title{
    font-size: 50px;

    margin-bottom: 20px;
   
}
.logo-container {
    margin-bottom: 20px; 
}

.logo {
    max-width: 100%; 
    height: auto;
    margin-right: 50px;
}

form {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #E3007F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.60s;
}
input[type="submit"]:hover {
    background-color: #009FE8;
}
